html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}
body, html{
   width: 100%;
   height: 100%;
   background: #669966;
   font-family: 'Roboto', sans-serif;
}

.mainContainer{
   height: 100%;
  /*height: 100vh;*/
  /*max-width: 1300px;*/
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



/*//////START/////*/
.start{
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  font-weight: 700;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  margin: 20px;
  padding: 1.2em 2.8em;
  width: 5%;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  top: 350px;
  left: 200px;
  text-decoration: none; color: black;
  }
  .start:hover{
    border: 1px solid white;
 box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
 outline-color: rgba(255, 255, 255, 0);
 outline-offset: 15px;
 text-shadow: 1px 1px 2px #427388;
  }

/*////STOP/////*/
.stop{
  border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 5%;
    display: flex;
      align-self: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      margin: 20px;
      padding: 1.2em 2.8em;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    text-align: center;
    position: relative;
}
.stop:hover{
  border: 1px solid white;
box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
outline-color: rgba(255, 255, 255, 0);
outline-offset: 15px;
text-shadow: 1px 1px 2px #427388;
}
/*/////Begin/////*/
.begin{
  border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    font-weight: 700;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    margin: 20px;
    padding: 1.2em 2.8em;
    width: 25%;
    height: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    top: 350px;
    left: 200px;
    text-decoration: none; color: black;

}
.begin:hover{
  border: 1px solid white;
box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
outline-color: rgba(255, 255, 255, 0);
outline-offset: 15px;
text-shadow: 1px 1px 2px #427388;
}
/*text box*/

input[type=text]{
  height: 21px;
  width: 250px;
    border:2px solid #000000;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    padding-left: 5px;
    vertical-align: bottom
  }

  input[type=text]:focus{
    border-color: black;
    box-shadow:0 0 8px 0 black;
  }

  /*/////button/////*/
  .btn{
    border: solid 1px #CCC;
    height: 25px;
    width: 115px;
  }


  .nameDrawing, .drawingSelectStatus{
    display:none;
  }
